
body { background: black; color: white;}
.loading { border-color: red;}

#livecode {
    position: absolute;
    left:300px;
    width: 700px;
    height: 300px;
}

#editor {
    position: relative;
    width: 700px;
    height: 300px;
}

#sim {
   width: 240px;
   height: 400px;
}

#test{
  background-color: black;
  left: 0;
  position: absolute;
  top: 450px;
  width: 300px;
}
